#root {}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.registration {
  margin-top: 70px;
}

.title {
  text-align: center;
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #464655;
}

.subtitle {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #68A691;
  margin-top: 27px;
}

.form__content {
  display: flex;
  justify-content: center;
  margin-top: 67px;
}

.form__content-inner {
  border: 3px solid #464655;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  padding: 63px 56px 43px;
}