@media (max-width: 600px) {
  .active {
    display: flex !important;
    left: 0 !important;
    background-color: rgba(255, 255, 255) !important;
    height: 100vh !important;
    opacity: 1 !important;
    margin: 0 !important;
  }
}

.link__page {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 19px;
  color: #000000;


}

@media (max-width: 600px) {
  .link__page {
    font-size: 40px;
  }
}

.link__page-f {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 360px) {
  .link__page-f {
    font-size: 20px;
  }
}

.Aboutpage {
  max-width: 100%;
  width: calc(100% - 32px);
  font-size: 30px;
}

